---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/BlogCard.astro';
const blogPosts = await getCollection('blog');
---

<Layout title='Blog' description='This is the blog'>
  <div class='bg-white py-24 sm:py-32'>
    <div class='mx-auto max-w-7xl px-6 lg:px-8'>
      <div class='mx-auto max-w-2xl text-center'>
        <h1 class='text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'>
          From the blog
        </h1>
        <p class='mt-2 text-lg leading-8 text-gray-600'>
          Learn how to grow your business with our expert advice.
        </p>
      </div>
      <div
        class='mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3'
      >
        {blogPosts.map((post) => <BlogCard {post} />)}
      </div>
    </div>
  </div>
</Layout>
