---
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const legalEntries = await getCollection('legal');
  return legalEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {

  entry: CollectionEntry<'legal'>;
}

const { entry } = Astro.props;

const { title, description } = entry.data;

 const {Content} = await entry.render()
---

<Layout {title} {description}>

  <article class='container my-16 px-2 lg:px-0'>
    <div class='prose mx-auto items-center'>
      <Content />
    </div>
  </article>
</Layout>
