---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title='About'
  description='Discover our journey at Cooper & Adlys, the trusted local plumbing service provider. Learn about our dedicated team, our commitment to quality, and why customers choose us for their plumbing needs.'
>
  <main class='container'>
    <h1>About</h1>
    <p>This is the about page</p>
  </main>
</Layout>
