---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title='About'
  description='Discover our journey at Cooper & Adlys, the trusted local plumbing service provider. Learn about our dedicated team, our commitment to quality, and why customers choose us for their plumbing needs.'
>
  <main class='container bg-white rounded-xl my-16 shadow-lg'>
    <section class='px-6 py-32 md:px-8 lg:px-10 xl:px-12 2xl:px-14'>
      <div class='max-w-screen-lg mx-auto'>
        <div class='text-center'>
          <p class='text-base font-semibold leading-7 text-sky-800 uppercase'>
            For all your plumbing needs
          </p>
          <h1 class='text-3xl lg:text-4xl font-semibold text-medium-gray mb-6'>
            About Cooper & Adlys
          </h1>
          <p class='text-lg text-gray-600'>
            Welcome to Cooper & Adlys, a forward-thinking plumbing company ready
            to tackle any challenge. Serving Elmira, Kitchener-Waterloo, and the
            surrounding communities, we are committed to providing top-quality,
            efficient, and reliable plumbing services. Owned and operated by
            Adam Moore, our brand-new company is excited to redefine what you
            can expect from your plumbing service provider.
          </p>
        </div>

        <div class='mt-12 grid gap-10 grid-cols-1 md:grid-cols-2 items-start'>
          <div>
            <h2 class='text-2xl font-semibold text-medium-gray mb-4'>
              Our Mission
            </h2>
            <p class='text-lg text-gray-600'>
              Our mission is to redefine the standards of the plumbing industry,
              blending traditional techniques with modern technology to provide
              superior solutions. We strive to exceed customer expectations and
              make every experience with Cooper & Adlys a positive one.
            </p>
          </div>

          <div>
            <h2 class='text-2xl font-semibold text-medium-gray mb-4'>
              Adam Moore
            </h2>
            <p class='text-lg text-gray-600'>
              Adam Moore, the owner of Cooper & Adlys, is an experienced
              professional with an extensive background in the plumbing
              industry. With his knowledge and passion, Adam ensures that Cooper
              & Adlys delivers the highest standard of services to its clients.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
