---
import LogoCloud from '../components/LogoCloud.astro';
import ServiceOverview from '../components/ServiceOverview.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Review from '../components/Review.astro';
import FAQ from '../components/FAQ';
import ServiceAreas from '../components/ServiceAreas.astro';
---

<Layout
  title='Cooper & Adlys - Local Plumbing Experts'
  description='For all of your plumbing needs in Elmira, Kitchener, Waterloo, Cambridge, Guelph, and surrounding areas. Call Cooper & Adlys, your local plumbing experts.'
>
  <main>
    <Hero />
    <!-- <LogoCloud /> -->
    <ServiceOverview />
    <ServiceAreas />
    <FAQ client:visible />
  </main>
</Layout>
