---
import LogoCloud from '../components/LogoCloud.astro';
import ServiceOverview from '../components/ServiceOverview.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Review from '../components/Review.astro';
---

<Layout
  title='Welcome to the Thunderdome.'
  description='Welcome to the home page'
>
  <main>
    <Hero />
    <!-- <LogoCloud /> -->
    <ServiceOverview />
    <Review />
  </main>
</Layout>
