---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogCard from './BlogCard.astro';
import { formatBlogPosts } from '../utils';
import SectionTitle from './SectionTitle.astro';
const blogPosts = await getCollection('blog');
const formattedPosts: CollectionEntry<'blog'>[] = formatBlogPosts(blogPosts, {
  limit: 3,
});
---

<section class='py-24 sm:py-32'>
  <div class='mx-auto max-w-7xl px-6 lg:px-8'>
    <SectionTitle
      accent='Recent Blog Posts'
      title='In the pipeline: Plumbing tips & tricks'
    />
    <div
      class='mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3'
    >
      {formattedPosts.map((post) => <BlogCard {post} />)}
    </div>
  </div>
  <div>
    <p class='text-center text-gray-600 text-sm mt-8'>
      Want to read more?{' '}
      <a href='/blog' class='text-sky-900 hover:underline'> View all posts</a>
    </p>
  </div>
</section>
