<section
  class='mb-24 bg-gradient-to-b from-sky-800 to-sky-400 px-6 py-24 lg:px-8 container rounded-xl shadow-xl'
>
  <figure class='mx-auto max-w-2xl'>
    <p class='sr-only'>5 out of 5 stars</p>
    <div class='flex gap-x-1 text-almost-white'>
      {
        [...Array(5)].map((_, i) => (
          <svg
            class='h-5 w-5 flex-none'
            viewBox='0 0 20 20'
            fill='currentColor'
            aria-hidden='true'
          >
            <path
              fill-rule='evenodd'
              d='M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z'
              clip-rule='evenodd'
            />
          </svg>
        ))
      }
    </div>
    <blockquote
      class='mt-10 text-xl font-semibold leading-8 tracking-tight text-gray-200 sm:text-2xl sm:leading-9'
    >
      <p>
        “I had a major sewer issue that flooded my basement. One call, and Adam
        was over to fix the issue. This was on a Sunday at 8 o'clock at night in
        the middle of winter. Amazing service!”
      </p>
    </blockquote>
    <figcaption class='mt-10 flex items-center gap-x-6'>
      <div class='text-sm leading-6'>
        <div class='font-semibold text-almost-white'>Kellen Bolger</div>
        <div class='mt-0.5 text-gray-200'>Waterloo</div>
      </div>
    </figcaption>
  </figure>
</section>
