---
const { accent, title } = Astro.props;
---

<div class='mx-auto max-w-4xl lg:text-center'>
  <h2 class='text-base font-semibold leading-7 text-sky-800 uppercase'>
    {accent}
  </h2>
  <p
    class='mt-2 text-3xl font-bold tracking-tight text-medium-gray sm:text-4xl'
  >
    {title}
  </p>
</div>
