---
import SectionTitle from './SectionTitle.astro';
---

<section class='bg-almost-white'>
  <div
    class='mx-auto max-w-2xl px-4 py-24 sm:px-6 sm:py-16 sm:pb-32 lg:max-w-7xl lg:px-8'
  >
    <SectionTitle
      title='Excellence in plumbing solutions'
      accent='Quality & Efficiency'
    />

    <p
      class='mt-6 text-lg leading-8 text-gray-600 lg:text-center mx-auto max-w-4xl'
    >
      Cooper & Adlys is at the center of plumbing solutions in Elmira,
      Kitchener-Waterloo, and the surrounding communities. Be it a residential
      or commercial setup, we deliver high-quality, efficient plumbing services
      to cater to your needs.
    </p>

    <div class='mt-16 space-y-16'>
      <div
        class='flex flex-col-reverse lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-8'
      >
        <div
          class='mt-6 lg:col-span-5 lg:row-start-1 lg:mt-0 xl:col-span-4 lg:col-start-1'
        >
          <h3 class='text-lg font-medium text-sky-900 uppercase'>
            Residential Plumbing
          </h3>
          <p class='mt-2 text-sm text-gray-500'>
            Our residential plumbing services are tailored to your home's unique
            needs. We offer everything from simple repairs to full system
            installations, ensuring that your home's plumbing system is
            functioning optimally and efficiently.
          </p>
        </div>
        <div
          class='flex-auto lg:col-span-7 lg:row-start-1 xl:col-span-8 lg:col-start-6 xl:col-start-5'
        >
          <div
            class='aspect-h-2 aspect-w-5 overflow-hidden rounded-lg bg-gray-100'
          >
            <img
              src='https://res.cloudinary.com/djr4sjcgh/image/upload/v1686238949/bathroom-2718919_1280_yeniyr.jpg'
              alt='A newly renovated bathroom with a large shower stall with a glass door and gray tiles.'
              class='object-cover object-center'
            />
          </div>
        </div>
      </div>
      <div
        class='flex flex-col-reverse lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-8'
      >
        <div
          class='mt-6 lg:col-span-5 lg:row-start-1 lg:mt-0 xl:col-span-4 lg:col-start-8 xl:col-start-9'
        >
          <h3 class='text-lg font-medium text-sky-900 uppercase'>
            Commercial Plumbing
          </h3>
          <p class='mt-2 text-sm text-gray-500'>
            Cooper & Adlys provides exceptional commercial plumbing services,
            from regular maintenance to emergency repairs. Our highly trained
            team is equipped to handle the complexities of commercial plumbing
            systems, delivering professional, efficient service.
          </p>
        </div>
        <div
          class='flex-auto lg:col-span-7 lg:row-start-1 xl:col-span-8 lg:col-start-1'
        >
          <div
            class='aspect-h-2 aspect-w-5 overflow-hidden rounded-lg bg-gray-100'
          >
            <img
              src='https://res.cloudinary.com/djr4sjcgh/image/upload/v1686255549/tubes-2672187_1280_qpqc7f.jpg'
              alt='A large industrial plumbing system with many pipes and valves.'
              class='object-cover object-center'
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
