---
import LogoCloud from '../components/LogoCloud.astro';
import Hero from '../layouts/Hero.astro';
import Layout from '../layouts/Layout.astro';

const title = 'Welcome to Astro.';
---

<Layout title='Welcome to Astro.' description='Welcome to the home page'>
  <main>
    <Hero />
    <LogoCloud />
  </main>
</Layout>
