---
import Layout from '../layouts/Layout.astro';

const title = 'Welcome to Astro.';
---

<Layout title='Welcome to Astro.' description='Welcome to the home page'>
  <main>
    <h1 class='text-4xl bg-red-400'>
      Welcome to <span class='text-gradient'>{title}</span>
    </h1>
    <p class='instructions'>
      To get started, open the directory <code>src/pages</code> in your project.
      OK I DID IT<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role='list' class='link-card-grid'></ul>
  </main>
</Layout>
