---
import { fetchAPI } from '../../lib/api';
import { marked } from 'marked';

marked.use({
  async: true,
  gfm: true,
  mangle: false,
  headerIds: false,
});

interface PostAttributes {
  slug: string;
  title: string;
  // Add other properties as necessary
}

interface Post {
  id: number;
  attributes: PostAttributes;
}

export async function getStaticPaths() {
  const resonse = await fetchAPI('/posts');
  const posts: Post[] = await resonse.data;

  return posts.map((post) => ({
    params: {
      slug: post.attributes.slug,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
const content = marked.parse(post.attributes.content);
---

<section
  class='m-8 text-center flex justify-center align-middle items-center flex-col w-full'
>
  <h1>Some title</h1>

  <article class='prose' set:html={content} />
</section>
